<header class="page-header">
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="entry home">
	<a class="link" href="/">Dave's.Blog</a>
      </li>
      <li class="entry subscribe">
	<a class="link" href="/daves.blog.atom.xml">Subscribe</a>
      </li>
      <li class="entry now">
	<a class="link" href="/now">Now</a>
      </li>
      <li class="entry about">
	<a class="link" href="/about">About</a>
      </li>
    </ul>
  </nav>
  <div id="fortune"><!-- See /assets/scripts/fortunes.js. --></div>
</header>
