---
---
$text-color: #16161d;           // Eigengrau
$accent1: darkolivegreen;
$accent2: #b82f00;

body {
    font-family: sans-serif;
    color: $text-color;
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 80ch;
    margin: 0 auto;
    padding: 2em;
}

img {
    max-width: 100%;
}

nav ul {
    display: inline-flex;
    font-weight: bold;
    padding-left: 0;
    padding-bottom: 1em;

    list-style-type: none;
    align-items: baseline;

    a {
	padding-right: 1em;

	&:link {
	    font-variant-caps: all-small-caps;
	}
    }
}


a:any-link {
    color: $accent1;
    text-decoration: underline 2px;

    &:hover {
	color: $accent2;
	text-decoration: underline overline 2px;
    }
}

p { 
    text-align: justify;
}

blockquote {
    color: $accent1;
    background-color: beige;
    margin: 0 2em;
    border-left: 1ch solid $accent1;
    padding: 0.5em 1em;
}

figure {
    figcaption {
        text-align: center;
        color: #777777;
    }
}

// Code blocks. This isn't an issue with inline <code>.
.highlighter-rouge pre{
    overflow-x: auto;
    font-size: 0.9rem;
    color: white;
    background-color: $text-color;
    border: 2px inset grey;
    box-shadow: 0 0 1em grey;
    padding: 2em;
    border-radius: 2em;
}
