@import "palettes/modus-operandi.css";
@import "fonts/ia-writer-quattro.css";
@import "fonts/ia-writer-mono.css";

:root {
    /* TODO 2024-03-28: Implement Modus Vivendi theme for dark.  */
    color-scheme: only light;

    --dave--color--fg-main: var(--modus-operandi--fg-main);
    --dave--bg-main: var(--modus-operandi--bg-main);
    --dave--fg-dim:  var(--modus-operandi--fg-dim);
    --dave--bg-dim:  var(--modus-operandi--bg-inactive);

    --dave--accent-1: var(--modus-operandi--green-warmer);

    --dave--fg-link:       var(--dave--accent-1);
    --dave--fg-link-hover: var(--modus-operandi--red-warmer);
    --dave--bg-link:       var(--modus-operandi--bg-green-nuanced);
    --dave--fg-selection:  var(--modus-operandi--fg-main);
    --dave--bg-selection:  var(--modus-operandi--bg-active);
    --dave--fg-table-head: var(--dave--bg-main);
    --dave--bg-table-head: var(--dave--accent-1);
    --dave--fg-blockquote: var(--dave--accent-1);

    --dave--ff-sans: "iA Writer Quattro", sans-serif;
    --dave--ff-mono: "iA Writer Mono", monospace;

    /* Parameterize ALL the things!
     * It helps for testing things in bulk later. */
    --dave--line-height: 1.5;

    --dave--border-width: thin;
    --dave--border-color: var(--modus-operandi--fg-main);
    --dave--border-radius: 1ch;

    /* Perhaps where the previous paramters come into full use. */
    --dave--border: var(--dave--border-width) solid var(--dave--border-color);
    --dave--shadow: 1ch 1ch var(--modus-operandi--bg-active);

    /* Has to go in either root or html to work.  Won't in body. */
    scrollbar-color: var(--dave--accent-1) var(--dave--bg-main);
}

body {
    color: var(--dave--color--fg-main);
    background-color: var(--dave--bg-main);
    font-family: var(--dave--ff-sans);


    max-width: 80ch;
    margin: 0 auto;
    padding: 2ch;
    line-height: var(--dave--line-height);
}

::selection {
    color: var(--dave--fg-selection);
    background-color: var(--dave--bg-selection);
}

code {
    font-family: var(--dave--ff-mono);
}

/* Specify div to indicate blocks.
 * .highlighter-rouge also appears on inline code.
 */
div.highlighter-rouge {
    margin-bottom: 1lh;
    padding: 1ch;
    overflow-x: scroll;

    & .n  { color: var(--modus-operandi--magenta); }
    & :is(.no, .nc, .vi) { color: var(--modus-operandi--cyan-cooler); }
    & .k { color: var(--modus-operandi--magenta-cooler); }
    & .s2 { color: var(--modus-operandi--blue-warmer); }
    & :is(.c, .c1) { color: var(--modus-operandi--fg-dim); }
}

div.highlighter-rouge, blockquote, aside, figure img, table, aisde, .-boxed {
    border: var(--dave--border);
    box-shadow: var(--dave--shadow);
    padding: 1ch;
    margin-right: 1ch;
}

.-rounded {
    border-radius: 50%;
}

a:any-link {
    color: var(--dave--fg-link);
    text-decoration: underline;
}

a:any-link:hover {
    /* color: var(--modus-operandi--fg-main); */
    color: var(--dave--fg-link-hover);
    background-color: var(--dave--bg-link);
    text-decoration: underline overline;
}

ul {
    list-style-type: square;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dave--accent-1);
    font-weight: bold;
}

.nav-list {
    display: flex;
    align-items: baseline;
    align-contents: space-between;
    gap: 2ch;
    color: var(--dave--accent-1);
    padding-left: 0;
    list-style-type: none;
}

.nav-list .entry.home {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

#fortune {
    color: var(--dave--fg-dim);
    font-size: smaller;
    font-style: italic;
}

img {
    max-width: 100%;
}

figcaption {
    margin-top: 1lh;
    color: var(--dave--fg-dim);
    text-align: center;
}

table {
    margin-bottom: 1lh;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    vertical-align: bottom;

    color:            var(--dave--fg-table-head);
    background-color: var(--dave--bg-table-head);
}

th {
    padding: 4px;
}

tr {
    border-bottom: var(--dave--border-width) solid var(---dave--color--fg-main);

    &:nth-of-type(even) {
	background-color: var(--dave--bg-dim);
    }
}

td {
    padding: 1ch;
}

blockquote {
    --border-width: 6px;
    color: var(--dave--fg-blockquote);
    border-left: var(--border-width) double var(--dave--fg-blockquote);

    margin-left: 0;
    padding-left: var(--border-width);
}

blockquote footer:has(> cite) {
    text-align: right;

    &::before {
	content: "— ";
    }
}

#glossary .term {
    color: var(--dave--accent-1);
    font-weight: bold;
    font-size: large;
}

#glossary .definition {
    padding-bottom: 1ch;
}

#glossary .related_header {
    font-size: medium;
}

#glossary .term:target a {
    color: var(--dave--bg-main);
    background-color: var(--dave--accent-1);
    text-decoration: none;
}
