@import "palettes/modus-operandi.css";
@import "fonts/ia-writer-quattro.css";
@import "fonts/ia-writer-mono.css";

:root {
    --color: var(--modus-operandi--fg-main);
    --background-color: var(--modus-operandi--bg-main);
    --light-accent-1: var(--modus-operandi--green-faint);
    --font-family: "iA Writer Quattro";
    /* TODO 2023-11-30: Figure out a good dark scheme too.
     * The greens are a little too dark for simply inverting text/background. */
    /* TODO 2024-03-28: Implement Modus Vivendi theme for dark.  */
}

body {
    color: var(--text-color);
    font-family: var(--font-family);
    background-color: var(--background-color);

    max-width: 80ch;
    margin: 0 auto;
    padding: 2ch;
}

::selection {
    color: var(--modus-operandi--fg-main);
    background-color: #bdbdbd;
}

code {
    font-family: "iA Writer Mono";
}

/* Specify div to indicate blocks.
 * .highlighter-rouge also appears on inline code.
 */
div.highlighter-rouge {
    border: 2px outset var(--modus-operandi--border);
    border-radius: 1ch;
    padding: 1ch;
    box-shadow: inset 0.5ch 0.5ch var(--modus-operandi--bg-inactive);
    overflow-x: scroll;

    & .n  { color: var(--modus-operandi--magenta); }
    & :is(.no, .nc, .vi) { color: var(--modus-operandi--cyan-cooler); }
    & .k { color: var(--modus-operandi--magenta-cooler); }
    & .s2 { color: var(--modus-operandi--blue-warmer); }
    & :is(.c, .c1) { color: var(--modus-operandi--fg-dim); }
}

a:any-link {
    color: var(--light-accent-1);
    text-decoration: underline;
}

a:any-link:hover {
    /* color: var(--modus-operandi--fg-main); */
    background-color: var(--modus-operandi--bg-green-nuanced);
    text-decoration: underline overline;
}

p, ol, ul {
    line-height: 1.5;
}

ul {
    list-style-type: square;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light-accent-1);
    font-weight: bold;
}

.nav-list {
    display: flex;
    align-items: baseline;
    align-contents: space-between;
    gap: 2ch;
    color: var(--light-accent-1);
    padding-left: 0;
    list-style-type: none;
}

.nav-list .entry.home {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

#fortune {
    color: var(--modus-operandi--fg-dim);
    font-size: smaller;
    font-style: italic;
}

figure img {
    max-width: 100%;
    border-radius: 1em;
}

figcaption {
    color: var(--modus-operandi--fg-dim);
    text-align: center;
}

table {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    border-radius: 1em;
}

thead {
    vertical-align: bottom;
    color: white;
    /* background-color: color-mix(in srgb, lightgrey 30%, var(--light-accent-1)); */
    background-color: var(--modus-operandi--olive);
}

td {
    padding: 1ch;
}

tr {
    border-bottom: 1px solid var(---text-color)
}

tr:nth-of-type(even) {
    /* background-color: color-mix(in srgb, #eee 80%, var(--light-accent-1)); */
    background-color: var(--modus-operandi--bg-inactive);
}

blockquote {
    color: var(--light-accent-1);
    border-left: 1ch double var(--light-accent-1);

    margin: 0;
    padding-left: 1ch;
}

blockquote footer:has(> cite) {
    text-align: right;

    &::before {
	content: "— ";
    }
}

#glossary .term {
    color: var(--light-accent-1);
    font-weight: bold;
    font-size: large;
}

#glossary .definition {
    padding-bottom: 1ch;
}

#glossary .related_header {
    font-size: medium;
}

#glossary .term:target a {
    color: var(--background-color);
    background-color: var(--light-accent-1);
    text-decoration: none;
}

aside {
    border: 2px groove var(--color);
    padding: 0.5ch;
    margin-bottom: 1ch;
}
