@import ../gradient-text

nav.main-nav > .nav-list
  display: flex
  align-items: baseline
  align-content: space-between
  gap: 2ch
  padding-left: 0
  list-style-type: none

.entry.home
  > .link
    font-size: larger
    font-weight: bold
    text-decoration: none
    @include gradient-text(lighten($accent1, 20%), $accent1)

    &:hover
      -webkit-text-fill-color: white
      text-shadow: $accent1 2px 2px 2px, $accent1 -2px 2px 2px, $accent1 -2px -2px 2px, $accent1 2px -2px 2px

#fortune
  opacity: 0.5
  font-size: smaller
  font-style: italic
