<!doctype html>
<html lang="en-us" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"              content="width=device-width, initial-scale=1.0">
    {% include open_graph.html %}
    <link href="/assets/pictures/favicon.svg" rel="icon">
    <link rel="stylesheet" href="/assets/styles/normalize.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link href="/daves.blog.atom.xml" rel="alternate" type="application/atom+xml" title="Dave's.Blog">
    <script src="/assets/scripts/fortunes.js"></script>
    <title>{% if page.title -%}
      {{ page.title }}{{ site.separator }}
      {%- endif -%}
      {{ site.name }}</title>
  </head>
  <body>
    {{ site.config.separator }}
    {% include header_nav.html %}
    <main>
{{ content }}
    </main>
  </body>
</html>
