<!doctype html>
<html lang="en-us" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type"  content="article">
    <meta property="og:url"   content="https://daves.blog{{ page.url }}">
    <meta property="og:image" content="/assets/pictures/biglogo.png">
    <link href="/assets/pictures/favicon.svg" rel="icon">
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/daves.blog.atom.xml" rel="alternate" type="application/atom+xml" title="Dave's.Blog">
    <title>Dave's.Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Dave's.Blog</a></li>
	  <li><a href="/daves.blog.atom.xml">Subscribe</a></li>
        </ul>
      </nav>
    </header>
    <main>
{{ content }}
    </main>
  </body>
</html>
